*.class

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# intelliJ
/.idea
*.iml

# maven target dir
target

# build artefacts
dependency-reduced-pom.xml

# local development ignores
/bin

# htmltest cache
/site/tmp
