<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="TypeExitRubyStep"
   iconfile="images/icon.png"
   description="Ruby Scripting"
   tooltip="Only there for demonstration purposes"
   category="Scripting"
   classname="org.typeexit.kettle.plugin.steps.ruby.RubyStepMeta">
		
		<libraries>
    		<library name="ruby-step.jar"/>
    		<library name="lib/jruby-complete.jar"/>
    		
		</libraries>
		
</plugin>
